#main {
  padding: 20px 25px;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#main h1,
p,
h2,
h3,
h4,
h5,
h6,
span,
a,
i,
label {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}
#main-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  flex-grow: 1;
}
#left {
  flex-grow: 1;
}
