#right div {
  background-color: transparent;
}
#right {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px rgba(255, 255, 255, 0.2) solid;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  min-width: 430px;
  height: 600px;
  overflow-y: scroll;
  flex-shrink: 0;
}
#right::-webkit-scrollbar {
  width: 7px;
}
#right::-webkit-scrollbar-track {
  background: transparent;
}
#right::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 5px;
}
#right::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
#right::-webkit-scrollbar-button {
  background: transparent;
  cursor: pointer;
  height: 18px;
}
#right>h4 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: xx-large;
}
.daily {
  background-color: rgba(0, 0, 0, 0.15) !important;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.daily h5 {
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 18px;
  /* color: #58dec8e7; */
  color: rgba(222, 222, 222, 0.897)
}
.daily-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.daily-weather > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.daily-weather p {
  margin-bottom: 5px !important;
  color: #49baa7;
}
.daily i {
  color: #ffef40e3;
  font-size: 17px;
}
#right>h4>i {
  color:cornflowerblue
}