#main-1 {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px rgba(255, 255, 255, 0.2) solid;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

#main11 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  background-color: transparent;
}
#logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#title {
  font-size: 30px;
  font-weight: 200;
}

#search > input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  width: 200px;
  transition: all 0.1s ease
}
#search > input:focus {
  outline: none;
}
#search > input::placeholder {
  color: white;
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.7;
  letter-spacing: 3px;
}
#search > button {
  border: none;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease;
}
#search > button:hover {
  opacity: 1;
}
#search {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#search:focus-within {
  box-shadow: rgba(255, 255, 255, 0.79) 0px 0px 10px 0px;
}

#login-out  {
  background-color: transparent;
}
#login-out > button {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  display: flex;
  background: transparent;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: all 0.1s ease;
}
#login-out > button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/* #user style inline  */